form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #A9AAD2;
}

input, button {
  margin: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 18px;
  margin-bottom: 20px;
}

input {
  height: 100px;
}

.title-input {
  height: 50px;
}


